@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .accent-color {
    @apply bg-accent-primary hover:bg-accent-primary/90 text-black;
  }
  .text-input {
    @apply h-9 rounded-lg border border-border-default bg-transparent px-3 py-1 
    text-sm shadow-sm transition-colors placeholder-gray-400 focus:outline-none 
    focus:ring-1 focus:ring-white disabled:cursor-not-allowed disabled:opacity-50;
  }
  .button-default {
    @apply h-9 px-4 py-2 rounded-lg flex justify-center items-center;
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-bg-primary text-white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.scrollBar::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
  border-radius: 10px;
}
.scrollBar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.scrollBar::-webkit-scrollbar-thumb {
  border-radius: 999px;
}

/* Firefox */
.scrollBar::-moz-scrollbar-thumb {
  border-radius: 999px;
}

/* IE 10+ */
.scrollBar::-ms-scrollbar-thumb {
  border-radius: 999px;
}
/* standard */
.scrollBar::scrollbar-thumb {
  border-radius: 999px;
}

.calendarScrollBar::-webkit-scrollbar-track {
  background-color: #aaa;
}

.timeline_col {
  display: grid;
  grid-template-columns: repeat(
    31,
    1fr
  ); 
  grid-template-rows: repeat(
    24,
    1fr
  );
  gap: 1px;
  
}
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(31, 1fr); /* Adjust for the number of days in the month */
  grid-template-rows: repeat(24, 1fr); /* 24 rows for hours in a day, adjust as needed */
  gap: 1px; /* Optional gap between cells */
}

.day, .time-slot {
  border: 1px solid #ccc;
  text-align: center;
  padding: 5px;
}



.ce-block {
  /* background-color: red; */
}
.ce-popover {
  background-color: #161719;
}